<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/table.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
    <style>
      .dropdown li button a{
        text-decoration: none;
        color: black;
        text-align: center;
      }
      .dropdown:hover{
        background-color: lightgray;
      }

      .dropdown li button{
        border: none;
        margin: none;
        background-color: white;
      }

      .dropdown-content a{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light opacity-100 p-3">
      <a class="navbar-brand" href="/">
        <img src="../static/THH-TEXT.png" alt="logo" width="250" height="25">
        <!-- https://cutewallpaper.org/22/helping-hand-wallpapers/view-page-22.html -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- <div class="container-fluid"> -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-end justify-content-end mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" href="/donate">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" href="#">About Foundation</a>
              </li>
            <!-- </ul> -->
        <!-- </div>
        <div class="container-fluid justify-content-center g-col-4"> -->
         
        <!-- </div>
        <div class="container-fluid justify-content-end g-col-4"> -->
            <!-- <ul class="nav justify-content-end"> -->
              <li class="nav-item">
                <a class="nav-link fs-4" href="/leaderboard">Leaderboard</a>
              </li>
<!--                 
                
                <a class="nav-link fs-4" href="/account"><i class="fa fa-user-circle"></i></a>
                
                <a class="nav-link fs-4" href="/login"><i class="fa fa-user-circle"></i></a>
               -->
                <!-- <a class="nav-link dropdown-toggle fs-4" href="/account" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </a> -->
                <ul class="account" style="padding-left: 0%; list-style: none;" aria-labelledby="navbarDropdown">
                  <div class="dropdown">
                    <span><li class="nav-item"><a class="nav-link fs-4 pl-0" href="/account" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {%if picture%}
                      <div class="user-image" style="width: 30px; height: 30px; margin-bottom: 10px;">
                        <img style = "padding-bottom: 5px; width: 100%;" src={{picture[0]}} alt="pfp" ></div></a></li></span>
                      
                        <!-- {%block picture%}
                        {%endblock picture%} -->
                      {%else%}
                        <i class="fa fa-user-circle"></i></a></li></span>
                      {%endif%}
                    <div class="dropdown-content">
                      <li class="nav-item"></li>
                        {%if session.get("logged")%}
                          <li><a class="dropdown-item" href="/account">Account</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        {%else%}
                          <li><a class="dropdown-item" href="/login">Login</a></li>
                          <li><a class="dropdown-item" href="/signup">Signup</a></li>
                        {%endif%}
                      </li>
                    <!-- {%if session.get("logged")%}
                    <li><button><a class="logoutoption" href="/logout">Logout</a></li></button>
                    <li><a class="logoutoption" href="/account">Account</a></li>
                    {%else%}
                    <li><a class="logoutoption" href="/login">Login</a></li>
                    <li><a class="logoutoption" href="/signup">Signup</a></li>
                    {%endif%} -->
                    </div>
                  </div>
                  <!-- <div class="dropdown">
                    {%if session.get("logged")%}
                    <li><a class="accountoption" href="/account">Account</a></li>
                    <li><a class="logoutoption" href="/logout">Logout</a></li>
                    {%else%}
                    <li><a class="loginoption" href="/login">Login</a></li>
                    {%endif%}
                  </div> -->
                </ul>
              </li>
            </ul>
        </div>
      </nav>
      <!-- <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> -->
      {%block content%}
      {%endblock%}
      <footer class="bg-light text-center text-white" id="footer">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">TheHelpingHandProjectFoundation</a>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>