{%extends "layout.html"%}
{%block content%}
<style>
    .container{
        padding-left: 37%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .container button{
        padding-left: 20px;
        padding-right: 20px;
    }

    .buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin-left: 10%;
    }

</style>
<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Not Logged In</h5>
            <p class="card-text" style="text-align: center;">Please log into your account to access your account details and profile</p>
            <div class="buttons">
                <a href="/login"><button type="button" class="btn btn-outline-info">Login</button></a>
                <a href="/home"><button type="button" class="btn btn-outline-info">Home</button></a>
            </div>
            </div>
        </div>
    </div> 
</body>
{%endblock content%}
