{%extends "layout.html"%}
{%block content%}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
<div class="content-1">
    <div class="content-1info">
        <img src="../static/trafficcone.png" alt="cone">
        <h2>Website is under consturction</h2>
        <p>We are sorry to inform that the website is still
        under construction. We are working on getting the
        website up soon. For more updates please follow us
        on Twitter and Instagram. We will be allowing donation
        via Paypal as of now, but soon we will be allowing payment
        on our website. Thank you for understanding and being apart
        of The Helping Hand Community.</p>
        <img src="../static/trafficcone.png" alt="cone">
    </div>
</div>
<div class="content-2">
    <h2>The Helping Hand Project</h2>
    <p>This is the Helping Hand Project, a non-profit organization,
        that aims to give a helping hand to those who are less fortunate
        and need help. With your help we can raise money and awareness and
        help as many people in need. As we are a new organization, posting
        and drawing attention to our organization would be very benificall.
        Thank you for helping The Helping Hand to help people in need.
    </p>
    <a href="">
        <button type="button" class="btn btn-outline-danger">Danger</button>
    </a>
</div>
</div>
{%endblock%}